*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
.parent {
    height: 100%;
    width: 100%;
    background-color: aqua;
    padding: 2rem;
    display: grid;
    gap: 1rem;   
}
.child {
    color: blueviolet;
    border: 5px solid rgb(128, 42, 232);
    border: 5px solid red;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header{   
}
.footer{
    grid-row-start: 1;
    grid-row-end: 4;
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.c1{
    grid-column-start: 2;
    grid-column-end: 4;
}
@media(min-width: 760px;)

.header{   
}
.footer{
    grid-row-start: 1;
    grid-row-end: 4;
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.c1{
    grid-column-start: 2;
    grid-column-end: 4;
}
}
}


